.travis.yml
Dockerfile.*
Makefile
Readme.md
docker-compose.yaml
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
renovate.json
*.code-workspace
.pre-commit-config.yaml
.hadolint.yaml
.github
build.log
data/
tests/
